<h1>Listado de usuarios por p치gina</h1>

{{#if info.hasPrevPage}}
    <p>Link a p치gina previa: {{info.prevPage}}</p>
{{/if}}
<p>Info actual: {{info.page}}</p>
{{#if info.hasNextPage}}
    <p>Link a p치gina previa: {{info.nextPage}}</p>
{{/if}}

<h2>Listado de {{info.totalDocs}}  usuarios vamos viendo de {{info.limit}} usuarios por p치gina</h2>
{{#each users}}
    <div>
        <p>{{this.last_name}}, {{this.first_name}}</p>
    </div>
{{/each}}